# Telegram Bot Configuration
TELEGRAM_TOKEN=8748786620:AAEDFdzpfZadXOKXUbRHoD8jrNMP0t4ZCtg
ALLOWED_CHAT_IDS=5693281478,987654321
TELEGRAM_CHANNEL_ID=-1004433830203
# Project Configuration
# Syntax: PROJECT_<NAME>_PATH=absolute_path_to_project
#         PROJECT_<NAME>_BRANCH=branch_to_checkout
PROJECT_VNU_PATH=D:\Develops\outsource\egov.ptpm.mobile-app_cd\project_cdv
PROJECT_VNU_SUPPER_BRANCH=D:\Develops\outsource\egov.ptpm.mobile-app_cd|Dev_Supper_Office/VNU/Office_core
PROJECT_VNU_OFFICE_BRANCH=D:\Develops\outsource\egov.ptpm.flutter_mobile_eoffice|Dev_Office/VNU/iOffice_Core


# Flutter Configuration
# Map versions to the exact Flutter binary path (or fvm wrapper)

FLUTTER_3_29_PATH=C:\src\flutter_3.24\bin\flutter.bat
FLUTTER_3_19_PATH=C:\src\flutter_3.19\bin\flutter.bat

# Appbox Configuration
APPBOX_API_KEY=your_appbox_api_key_here
APPBOX_CLI_PATH=appbox # or full path to ruby appbox gem if not in system PATH

#build command standart for dev/prod/stg
BUILD_CMD=flutter build apk --flavor dev lib/main_dev.dart --no-tree-shake-icons 